name: Release

permissions:
  pull-requests: write
  contents: write

on:
  # push:
  #   branches:
  #     - main
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v2

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install dependencies
        run: npm install

      - name: Build
        run: |
          npm run build
          npm run package-extension

      - name: Create release pull request or publish
        uses: changesets/action@v1
        with:
          version: npm run changeset version
          publish: npm run publish-extension
          commit: "chore: release"
          title: "A New Release"
          setupGitUser: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
