name: Release

on:
  push:
    branches:
      - release
  workflow_dispatch:

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: "24"

      - name: Install dependencies
        run: npm install

      - name: Build and publish
        run: npm run build && npm run publish-extension
        env:
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
